@charset "UTF-8";
/* CSS Document */

html, body {

margin:0;
padding:0;
}



@font-face{
	font-family:Helvetica;
	src: url(../Font/Helvetica.dfont);
}



ul{z-index: 100;
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color: #333;
	position:fixed;
	top:0;
	width:100%;
	
}

li{
	float:left;
	
}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:12px 20px 12px 20px;
	font-family: Helvetica;
	text-decoration: none;
	
	
	
}

li a:hover:not(.active){
	background-color:#FF6B6B;
	text-decoration-line: none;
	
}

@media screen and (max-width: 600px){
   
    li {float: none;}
}

img{
padding:0;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: -1;
}

body{
	background-image:url("../images/Home/Base sea pattern illustration editing for website.jpg");
	background-size: 100% ;
	z-index: -30;
}

#title logo{
	z-index:10;
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
   
}

h1 {
	z-index: -3;
    position: absolute;
	margin: 0;
    right: 0px;
	top: 0px;
    -webkit-animation: mymove 80s;
    /* Chrome, Safari, Opera */
    animation: mymove 80s;
    animation-timing-function: infinite linear;
    -webkit-animation-timing-function: infinite linear;
	
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes mymove {
    0% {
        transform: opacity: 100;
    }
    25% {
        transform: translate3d(300px, 0px, 0px);
        opacity:0;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 100;
    }
}





