@charset "UTF-8";
/* CSS Document */

html, body {

margin:0;
padding:0;
}



@font-face{
	font-family:Helvetica;
	src: url(../Font/Helvetica.dfont);
}

body{
	background-image:url("../images/kpub_night_images/white brick wall.jpg");
	background-size: 100% ;
	z-index: -30;
}

#title logo{
	margin-top: 50px;
}


ul{z-index: 100;
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color: #333;
	position:fixed;
	top:0;
	width:100%;
	
}

li{
	float:left;
	
}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:12px 20px 12px 20px;
	font-family: Helvetica;
	text-decoration: none;
	
	
	
}

li a:hover:not(.active){
	background-color:#FF6B6B;
	text-decoration-line: none;
	
}

@media screen and (max-width: 600px){
   
    li {float: none;}
}
.w3-content {
	float: right;
}


.mySlides{
	align-content: center;
	position: relative;
	float:inherit;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 13%;
	
}

#content{
	float: left;
	margin-left:8.3%;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 0;
	position: relative;
	
}

#sea pattern{
	position: relative;
	z-index: 0;
	margin-left: 10%;
	float: none
}

h1 {
	z-index: 10;
    position: absolute;
	margin: 0;
    right: 0px;
	top: 0px;
    -webkit-animation: mymove 80s;
    /* Chrome, Safari, Opera */
    animation: mymove 80s;
    animation-timing-function: infinite linear;
    -webkit-animation-timing-function: infinite linear;
	
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes mymove {
    0% {
        transform: opacity: 100;
    }
    25% {
        transform: translate3d(300px, 0px, 0px);
        opacity:100;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 100;
    }
	 0% {
        transform: opacity: 100;
    }
    25% {
        transform: translate3d(300px, 0px, 0px);
        opacity:100;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 100;
    }
}

#{

	margin-bottom: 40px;
	margin-left: 50%;
	margin-top: 40px;
	z-index: 20;
	position: relative;
	
}
